doctype html
html(lang="en")
  head
    title= "Tim Knight | Web Developer"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src='js/script.js')
    link(rel="stylesheet" type="text/css" href="css/normalize.css" )
    link(rel="stylesheet" type="text/css" href="css/style.css" )
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css')
  body    
    nav
      a(href="#skills").navlink Skills
      a(href="#about").navlink About
      a(href="#portfolio").navlink Portfolio
      a(href="#contact").navlink Contact
    div.name
      h2.nametext Tim Knight
      p.nametext Web Developer
    div.clear    
    div#container
    div.skills
      div#skill1.skill
        img(src="css/html3.svg", alt="")#htmlicon.skillimg
        p HTML & HTML5
      div#skill2.skill
        img(src="css/css.svg", alt="")#cssicon.skillimg
        p CSS & CSS3
      div#skill3.skill
        img(src="css/js1.svg", alt="")#jsicon.skillimg
        p JavaScript
      div#skill4.skill
        img(src="css/jquery.svg", alt="")#jqueryicon.skillimg
        p jQuery
      div#skill5.skill
        img(src="css/responsive.svg", alt="")#responsiveicon.skillimg
        p Responsive Desgin
      div#skill6.skill
        img(src="css/git.svg", alt="")#giticon.skillimg
        p Version Control
      div#skill7.skill
        img(src="css/sass.svg", alt="")#sassicon.skillimg
        p Sass
      div#skill8.skill
        img(src="css/jquery.svg", alt="")#jqueryicon.skillimg
        p jQuery
    div.about
      div.aboutcontainer
        p#abouttext I'm a 24 year old developer working mainly with JavaScript. At present I'm currently looking for employment opportunities either as a JavaScript developer or Front-End developer. When I'm not making websites I enjoy scuba diving, skiing, mixed martial arts, cooking and socialising. If you would like to discuss employment opportunites please don't hesitate to get in touch.
    div.portfolio
      div.project#p1
        h3 Snake
        p This is a JavaScript project recreating the classic game snake in the browser.
      div.project#p2
        h3 Calculator
        p This is a JavaScript project recreating the classic game snake in the browser.
      div.project#p3
        h3 Etch a Sketch
        p This jQuery project creates an etch a sketch with various different features.
      div.project
        h3 Tic Tac Toe
        p The classic two player game recreated in the browser using JavaScript.
    div.contact
      div.socialmedia
        <a href="www.facebook.com/tim.m.knight.7">
        img#facebook(src="css/facebook.svg")
        </a>
        //- <a href="www.github.com/timmknight">
        //- img#github(src="css/github.svg")
        //- </a>
        <a href="www.linkedin.com/profile/view?id=346711298&trk=nav_responsive_tab_profile">
        img#linkedin(src="css/linkedin.svg")
        </a>
      div.contactrow
        div.contactblock
          img#mail(src="css/mail.svg")
          p Email:&nbsp<a href="mailto:timmilesknight@gmail.com">timmilesknight@gmail.com</a>
        div.contactblock
          img#phone(src="css/phone.svg")
          p Telephone:&nbsp<a href="tel:07783727566">07783727566
